In [93]:
!unzip air-pollution-in-seoul.zip

Archive:  air-pollution-in-seoul.zip
replace AirPollutionSeoul/Measurement_summary.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [0]:
import pandas as pd
import numpy as np 
% matplotlib inline
import matplotlib.pyplot as plt

In [95]:
data = pd.read_csv('AirPollutionSeoul/Measurement_summary.csv')
data.head()

   Measurement date  Station code  ...  PM10  PM2.5
0  2017-01-01 00:00           101  ...  73.0   57.0
1  2017-01-01 01:00           101  ...  71.0   59.0
2  2017-01-01 02:00           101  ...  70.0   59.0
3  2017-01-01 03:00           101  ...  70.0   58.0
4  2017-01-01 04:00           101  ...  69.0   61.0

[5 rows x 11 columns]

In [96]:
df=data['O3']
df=df.values
df=df.reshape(df.shape[0],1)
print(df.shape)

(647511, 1)

In [97]:
list_=[]
for i in range (0,df.shape[0]):
  list_.append(df[i][0])
print(len(list_))

647511

In [98]:
window_size=5
y=[]
for i in range (0,len(list_)-5):
  x=list_[i:i+window_size]
  y.append(x)
print(len(y),y[0])

647506 [0.002, 0.002, 0.002, 0.002, 0.002]

In [99]:
matrix=np.matrix(y)
print(matrix.shape)

(647506, 5)

In [100]:
print(matrix[:,4])

[[0.002]
 [0.002]
 [0.002]
 ...
 [0.015]
 [0.015]
 [0.004]]

In [101]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
X_train, X_test, y_train, y_test = train_test_split(matrix[:,0:4],matrix[:,4],test_size=0.33, random_state=42)
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)
prediction=model.predict(X_test)
print(prediction.shape,prediction[0:5])

(213677, 1) [[0.00559856]
 [0.00712269]
 [0.04634444]
 [0.02411896]
 [0.01026515]]

In [102]:
print(model.score(X_train,y_train))
print(model.intercept_)
print(model.coef_)

0.6158255278844709
[0.00305242]
[[ 0.08367803  0.24250941 -0.30080875  0.80390221]]

In [103]:
print(mean_squared_error(y_test,prediction)**0.5)
print(r2_score(y_test,prediction))

0.045584415579402265
0.7304930305222528