In [82]:
!unzip air-pollution-in-seoul.zip

Archive:  air-pollution-in-seoul.zip
replace AirPollutionSeoul/Measurement_summary.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [0]:
import pandas as pd
import numpy as np 
% matplotlib inline
import matplotlib.pyplot as plt

In [84]:
data = pd.read_csv('AirPollutionSeoul/Measurement_summary.csv')
data.head()

   Measurement date  Station code  ...  PM10  PM2.5
0  2017-01-01 00:00           101  ...  73.0   57.0
1  2017-01-01 01:00           101  ...  71.0   59.0
2  2017-01-01 02:00           101  ...  70.0   59.0
3  2017-01-01 03:00           101  ...  70.0   58.0
4  2017-01-01 04:00           101  ...  69.0   61.0

[5 rows x 11 columns]

In [85]:
df=data['NO2']
df=df.values
df=df.reshape(df.shape[0],1)
print(df.shape)

(647511, 1)

In [86]:
list_=[]
for i in range (0,df.shape[0]):
  list_.append(df[i][0])
print(len(list_))

647511

In [87]:
window_size=5
y=[]
for i in range (0,len(list_)-5):
  x=list_[i:i+window_size]
  y.append(x)
print(len(y),y[0])

647506 [0.059000000000000004, 0.057999999999999996, 0.055999999999999994, 0.055999999999999994, 0.051]

In [88]:
matrix=np.matrix(y)
print(matrix.shape)

(647506, 5)

In [89]:
print(matrix[:,4])

[[0.051]
 [0.046]
 [0.049]
 ...
 [0.025]
 [0.023]
 [0.04 ]]

In [90]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
X_train, X_test, y_train, y_test = train_test_split(matrix[:,0:4],matrix[:,4],test_size=0.33, random_state=42)
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)
prediction=model.predict(X_test)
print(prediction.shape,prediction[0:5])

(213677, 1) [[0.0342947 ]
 [0.03538674]
 [0.02090323]
 [0.02751556]
 [0.03252823]]

In [91]:
print(model.score(X_train,y_train))
print(model.intercept_)
print(model.coef_)

0.6477366545458243
[0.00360813]
[[ 0.26738874 -0.13208824 -0.16619826  0.86945271]]

In [92]:
print(mean_squared_error(y_test,prediction)**0.5)
print(r2_score(y_test,prediction))

0.1022187976170296
0.2609014712426445