In [69]:
!unzip air-pollution-in-seoul.zip

Archive:  air-pollution-in-seoul.zip
replace AirPollutionSeoul/Measurement_summary.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [0]:
import pandas as pd
import numpy as np 
% matplotlib inline
import matplotlib.pyplot as plt

In [71]:
data = pd.read_csv('AirPollutionSeoul/Measurement_summary.csv')
data.head()

   Measurement date  Station code  ...  PM10  PM2.5
0  2017-01-01 00:00           101  ...  73.0   57.0
1  2017-01-01 01:00           101  ...  71.0   59.0
2  2017-01-01 02:00           101  ...  70.0   59.0
3  2017-01-01 03:00           101  ...  70.0   58.0
4  2017-01-01 04:00           101  ...  69.0   61.0

[5 rows x 11 columns]

In [74]:
df=data['SO2']
df=df.values
df=df.reshape(df.shape[0],1)
print(df.shape)

(647511, 1)

In [75]:
list_=[]
for i in range (0,df.shape[0]):
  list_.append(df[i][0])
print(len(list_))

647511

In [76]:
window_size=5
y=[]
for i in range (0,len(list_)-5):
  x=list_[i:i+window_size]
  y.append(x)
print(len(y),y[0])

647506 [0.004, 0.004, 0.004, 0.004, 0.003]

In [77]:
matrix=np.matrix(y)
print(matrix.shape)

(647506, 5)

In [78]:
print(matrix[:,4])

[[0.003]
 [0.003]
 [0.003]
 ...
 [0.003]
 [0.003]
 [0.003]]

In [79]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
X_train, X_test, y_train, y_test = train_test_split(matrix[:,0:4],matrix[:,4],test_size=0.33, random_state=42)
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)
prediction=model.predict(X_test)
print(prediction.shape,prediction[0:5])

(213677, 1) [[0.00594101]
 [0.00675875]
 [0.00379072]
 [0.00436279]
 [0.00349086]]

In [80]:
print(model.score(X_train,y_train))
print(model.intercept_)
print(model.coef_)

0.8956249556974779
[-7.28802908e-05]
[[0.10128381 0.09728744 0.21185268 0.55879577]]

In [81]:
print(mean_squared_error(y_test,prediction)**0.5)
print(r2_score(y_test,prediction))

0.02597396106919106
0.8910939689855829